.card-image
{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
}

.card-container
{
    overflow: hidden;
}